{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
